GROUP_NAME: 
GROUP_PASSWORD:
MASTER_PASSWORD: 
MASTER_IP_ADDR:
MASTER_PORT: 443
IS_PRODUCTION: true
NODE_APP_TYPE: slave
NODE_NAMESPACE: CDE
NODE_HOST: 
NODE_PORT: 443
NODE_OWNER: 
NODE_DRIVES: /home/kodethon/production/drives
NODE_SYSTEM: /home/kodethon/production/system
MEMCACHE_IP_ADDR: 172.17.0.2
MEMCACHE_PORT: 11211
RABBITMQ_IP_ADDR: 172.17.0.3
RABBITMQ_PORT: 5672
RSA_PUBLIC_KEY_PATH: /home/kodethon/production/app/rsa_1024_pub.pem
USE_LETSENCRYPT: true
